@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
body {
    margin:0;
    font-family: 'IBM Plex Sans', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
h1 {
    font-size: 65px;
    font-weight: 700;
}
h3 {
    font-size: 24px;
    font-weight: 600;
}